local_tests/
src/Brief/config/config.yaml
**/__pycache__/
.vscode/
.claude/
*.yaml
.github/
pics/
scripts/
output/
index.md
template/BGI_SY/repo-temp-pics/
**.docx
.gstack/
.harness/
CLAUDE.md
local_tmp/
run.py
